window {
    background-color: rgba(24, 24, 37, 0.8);   /* Waybar-matching bg */
    color: #cdd6f4;                             /* text */
    border-radius: 10px;
}

entry {
    background-color: rgba(36, 36, 50, 0.4);
    color: #cdd6f4;
    padding: 4px 6px;
    border-radius: 4px;
}

button, image {
    background: none;
    border: none;
    border-radius: 6px;
    color: #cdd6f4;
}

button:hover {
    background-color: rgba(203, 166, 247, 0.1);  /* hover effect */
}

#category-button {
    margin: 0 10px;
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted #cba6f7;
}

#files-box {
    padding: 5px;
    border: 1px dotted #cba6f7;
    border-radius: 12px;
}

#math-label {
    font-weight: bold;
    font-size: 16px;
    color: #cba6f7;
}
