window {
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.95), rgba(0, 0, 0, 0.92));
    color: #ffffff;
    border-radius: 12px;
    border: 2px solid #89b4fa;  /* blue accent border */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    padding: 10px;
}

entry {
    background-color: rgba(40, 40, 40, 0.4);
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

button, image {
    background: none;
    border: none;
    border-radius: 10px;
    color: #ffffff;
}

button:hover {
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2), rgba(30, 30, 30, 0.5));
    color: #89b4fa;
}

#category-button {
    margin: 0 10px;
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted #89b4fa;
}

#files-box {
    padding: 5px;
    border: 1px dotted #89b4fa;
    border-radius: 12px;
}

#math-label {
    font-weight: bold;
    font-size: 16px;
    color: #f38ba8; /* pink accent */
}
