[Unit]
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE
Description=nwg-dock-hyprland
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nwg-dock-hyprland -d -p bottom -o DP-1 -l top -x -i 48 -hd 30
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
