window {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  padding: 10px;
  margin: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#input {
  margin: 8px;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  border: none;
}

#input:focus {
  background-color: rgba(255, 255, 255, 0.12);
  outline: none;
}

#entry {
  padding: 6px;
  border-radius: 6px;
  margin: 2px;
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
}

#text {
  color: rgba(255, 255, 255, 0.9);
  font-family: "MesloLGS Nerd Font", monospace;
  font-size: 14px;
}
