@import url("file:///home/john/.config/vt-theme/colors.css");

window {
  background: @background;
  border-radius: 16px;
  border: 1px solid @surface0;
}

#box {
  padding: 12px;
}

#active {
  border-bottom: 2px solid @accent;  /* active app indicator */
}

button, image {
  background: none;
  border: none;
  box-shadow: none;
  color: @text;
}

button {
  padding: 6px;
  margin: 0 6px;
  border-radius: 12px;
  font-size: 13px;
}

button:hover {
  background-color: @accentAlpha;  /* subtle hover */
}

button:focus {
  box-shadow: none;
}
